<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Trophies</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="text-container">
        <p>Live.</p>
        <p>Feel it.</p>
        <p>Own the Moment.</p>
    </div>
    <div class="bottom-bar">
        <div>v.:0.0.1 &copy; <%= new Date().getFullYear() %> Sports Trophies</div>
  </div>
</body>
</html>