body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: rgb(240, 240, 240);
    transition: background-image 0.2s ease-in-out;
}
.text-slogan {
    position: absolute;
    top: 80px;
    left: 20px;
    line-height: 1.2;
}
.text-slogan p {
    margin: 0;
    font-size: 3vw; 
    font-weight: bold;
    color: rgb(237, 154, 55);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#main-nav {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 20px;
    z-index: 1000;
}

#main-nav a {
    color: #a8dfff;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(2px);
    transition: background-color 0.3s;
}
#main-nav a.active {
    background-color: rgba(168, 223, 255, 0.1);
    color: #a8dfff;
    /* border: 1px solid rgb(237, 154, 55); */
}
#main-nav a:hover {
    background-color: rgba(168, 223, 255, 0.2);
    color: rgb(168, 223, 255);
    text-decoration: none;
}


.bottom-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background: rgba(80, 80, 80, 0.5);
    color: #fff;
    font-size: 0.9rem;
    flex-wrap: wrap;
    backdrop-filter: blur(6px);
}
.bottom-bar > * {
    margin: 0 0.5rem;
}

a {
    color: #a8dfff;
    text-decoration: none;
}
a:hover { text-decoration: underline; }

body {
    background-image: url('../images/background-landscape1.webp'); 
}
/* --- 2. Стили секций и контейнеров --- */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

section {
    padding: 4rem 0;
    border-color: var(--color-border);
    border-style: solid;
    border-width: 0;
}

.isDisabled {
  color: currentColor;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}

@media screen and (orientation: portrait) {
    .text-slogan p {
        font-size: 6vw; 
    }
    #main-nav a {
        font-size: 4vw;
        gap: 10px;
    }
}